body{
    background-color: wheat;
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(37, 37, 37, 0.075);
}


.registration-form .form-icon{
	text-align: center;
    background-color: #383838;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item {
	border-radius: 20px;
    padding: 10px 20px;
}

.itemspan{
    margin-bottom: 25px;

}
.checkSpan{
    margin-bottom:15px; 
    margin-top: 5px;
    /* 비밀번호 유효성검사 */
}

#idCheckArea, #pwdCheckArea{
    font-size: 14px;
}

.spanMargin{
    margin:0;
    /* 유효성검사 필요한 input태그 밑 마진 제거 */
}

.emailCheckInput{
    width: 360px;
    margin-right: 0px;
    display: inline;
    float: left;
    /* 이메일 인증번호 버튼 위해서 크기 줄이기 */
}


.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: darkorange;
    border: none;
    color: white;
    margin-top: 20px;
}

.check-id{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 15px;

    background-color: darkorange;
    border: none;
    color: white;
   
    width: 100px;
    display: inline;
}



.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}


.custom-control {
    padding: 10px 20px;
    margin: 0px;
    text-align: center;
}

.custom-checkbox{
    margin:0px;
}


